<br><br>
<h1 align=center>게시글을 작성해주세요! </h1>
<center><form method="post" action="/main/listcreate/<%= @id %>">
    <input type="text" name="title" id="title" placeholder="제목" style="width: 500px;" /><br>
    <input type="text" name="name" id="name" placeholder="작성자" style="width: 500px;" /><br>
    <textarea name="content" id="message" placeholder="게시글 내용" rows="3" style="width: 500px;"></textarea><br>
    <br><input type="submit" value="Enter!" align="center" />
</form></center>