<div style="height:100vh; width: 50%; margin: 0 auto;">
    <div>
        <br>
        <h1 align=center><img src="/assets/logo.jpg" alt="" style="height: 85px"/><br>Cow Group</h1>
        <p align=center width=40px font-size=10px>소그룹 생성 페이지에 오신걸 환영합니다! </p>
    </div>
        <center>
        <form method="post" action="/main/mypage">
            <input type="text" name="name" id="name" placeholder="Name" style="width: 300px;" /><br>
            <input type="password" name="password" id="password" placeholder="Password" style="width: 300px;" /><br>
            <input type="submit" value="Login" align="center" >
        </form>
        </center>
        
        <center>
        <a href="/main/mypage" class="button">Register</a>
        </center>
</div>